.folder-cont {
  display: flex;
  width: 180px;
  min-height: 200px;
  height: auto;
  position: relative;
  float: left;
  border-radius: 10px;
  justify-content: center;
}

.folder-cont:hover {
  background-color: rgba(128,255,255,0.2);
}

.folder-icon {
  width: 180px;
  height: auto;
  position: absolute;
}

.folder-img {
  z-index: 1;
  height: auto;
  max-height: 70px;
  margin-top: 75px;
  width: auto;
  max-width: 140px;
  position: absolute;
}

.gallery-img {
  width: 100%;
  max-width: 400px;
  margin: 5px;
}