.folder-cont {
  width: 180px;
  min-height: 200px;
  height: auto;
  position: relative;
  float: left;
  border-radius: 10px;
}

.folder-cont:hover {
  background-color: rgba(128,255,255,0.2);
}

.folder-icon {
  width: 180px;
  height: auto;
  position: absolute;
}

.folder-img {
  z-index: 1;
  width: 120px;
  height: auto;
  position: absolute;
}

.gallery-img-cont {
  width: 100vw;
  max-width: 300px;
  height: auto;
  margin: 10px;
  float: left
}

.gallery-img {
  width: 100%
}